.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
 /*pointer-events: none;*/
  transition: 0.00001s;
  cursor:pointer;
}

.App-logo:hover
{
  animation: App-logo-spin infinite 0.0003s linear;
  height: 65vmin;
}

.App-header {
  background-color: rgb(255, 187, 197);
  animation: pulse 0.3s infinite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #282c34;
}

.orElse {
  font-size: 10px;
  padding-top: 12px;
}

.mom {
  font-size: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    background-color: #000000;
  }
  100% {
    background-color: rgb(255, 187, 197);
  }
}